{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terra Quest Travellers</title>
    
    <!-- Load Static Files -->
    {% load static %}
    
    <!-- Link to CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

    <!-- Navigation Bar -->
    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="#" class="logo">TerraQuest Travelers</a>

        <nav class="navbar">
            <div id="close-navbar" class="fas fa-times"></div>
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#packages">packages</a>
            <a href="#gallery">gallery</a>
            <a href="#blogs">Our Blogs</a>
            <a href="#review">review</a>
        </nav>

        <a href="#book" class="btn"> Book Now</a>

    </header>

    <!-- Main Content Area -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Terra Quest Travellers. All rights reserved.</p>
    </footer>

    <!-- Link to JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
