{% extends 'travellers/base.html' %}

{% load static %}

{% block content %}

<section class="home" id="home">

    <div class="content">
        <h3>LEAVE YOUR FOOTPRINTS AND DISCOVER THRILLING ADVENTURES</h3>
        <p>Embark On Exciting Journeys With Us</p>
        <a href="#" class="btn">Discover More</a>
    </div>

    <div class="video-container">
        <video src="/terra_quest_travellers/media/videos/home copy.mp4" id="video" loop autoplay muted></video>
    </div>

</section>

{% endblock %}
